html, body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

h2 {
  font-weight: bold;
  font-size: 4rem;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 1200px;
}

.tbl {
  box-sizing: content-box;
  border: 22px solid #3A4965;
  background-color: #D8D8D8;
  border-collapse: collapse;
  color: #484848;
}

.ptb1 {
  width: 1150px;
}

.ptb1 > thead {
  background-color: #FAFAFA;
}

.ptb1-col1 {
  width: 315px;
  /* border-right: 1px solid #C1C1C1; */
}
.ptb1-col2 {
  width: 280px;
  /* border-right: 1px solid #C1C1C1;   */
}
.ptb1-col3 {
  width: 280px;
  /* border-right: 1px solid #C1C1C1; */
}
.ptb1-col4 {
  width: 280px;
}
.ptb1-head tr:nth-child(2) > td {
  border-left: 1px solid #C1C1C1
}
.ptb1-body td:nth-child(n+1), 
.ptb1-foot td:nth-child(n+1) {
  border-left: 1px solid #C1C1C1
}

.ptb1 > thead {
  height: 160px;
}
.ptb1 td:nth-child(2) {
  height: 72px;
}

.ptb1 tr:not(.ptb1-head > tr, .ptb1-foot) {
  height: 72px;
}

.ptb1 > tbody > tr:nth-child(1n) {
  background-color: #F2F2F2;
}

.ptb1 > tbody > tr:nth-child(2n) {
  background-color: #E3E3E3;
}

.btn {
  border-radius: 5px;
  display: block;
  width: 190px;
  height: 100%;
  margin: 0 auto;
  padding-top: 9px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 50%);
}

.ptb1-foot > td {
  height: 110px;
  padding: 28px 0;
}

.price-big {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.price-big > h2::after {
  content: '.99';
  position: absolute;
  font-size: 0.4em;
}
.price-big > span {
  font-size: 1.2rem;
}

.ptb1-head h3 {
  font-size: 2rem;
}
.ptb1-head h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.ptb1-body i {
  margin-right: 0.3rem;
}

.ptb2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1200px;
}

.ptb2-head {
  background-color: #FAFAFA;
  border-bottom: 15px solid #3A4965;
  height: 100px;
}
.ptb2-head > td:first-child {
  width: 200px;
}

.ptb2 tr > td:nth-child(2n) {
  background-color: #E3E3E3;
}
.ptb2 tr > td:nth-child(2n+3) {
  background-color: #F2F2F2;
}

.ptb2-body > tr {
  height: 165px;
}
.ptb2-body-buynow {
  width: 200px;
}
.ptb2-plan {
  font-weight: bold;
  font-size: 24px;
}
.ptb2-price {
  font-weight: bold;
  font-size: 36px;
}
.ptb2-price > sup {
  font-size: 0.5em;
}
.ptb2-price + span {
  font-weight: bold;
  font-size: 14px;
}
.ptb2-body-cell {
  font-size: 16px;
  line-height: 24px;
}
.ptb2-body > tr:nth-child(even) > td:not(:first-child) {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
}

.btn2 {
  border-radius: 5px;
  display: block;
  width: 150px;
  height: 45px;
  margin: 0 auto;
  padding-top: 11px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 50%);
}

.ico-stor::before {
  content: url('../1.svg');
}
.ico-band::before {
  content: url('../2.svg');
}
.ico-eml::before {
  content: url('../3.svg');
}
.ico-sup::before {
  content: url('../4.svg');
}
.ico-pro::before {
  content: url('../5.svg');
}
.ico-usr::before {
  content: url('../6.svg');
}
.grey {
  background-color: #484848;
  color: #FFF;
}
.green {
  background-color:#89C331;
  color: #FFF;
}
.red {
  background-color:#F04A56;
  color: #FFF;
}
.bottle {
  background-color:#20807C;
  color: #FFF;
}