html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
body {
  background-image: url('../img/bg1.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.bg {
  /* 
  breaks picture on small screens
  background-image: url('../img/bg1.jpg');
  background-position: center;
  background-size: cover;
  */
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 1030px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
}
header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  display: flex;
  color: #fff;
}
.logo-title {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}
.logo-img {
  max-height: 47px;
}

.logo-title > h1 {
  font-weight: bold;
  font-size: 2.9rem;
  line-height: 2.9rem;
}
.logo-title > span {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.25;
}

.logo:hover {
  color: #F26522;
}
.logo:hover .logo-img {
  content: url('../img/logo-act.png');
}

.contacts {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  text-align: end;
}
.contacts-link {
  font-size: 1.8rem;
  display: block;
  color: #fff;

}
.contacts-link:hover {
  color: #F26522;
}
.contacts-link:first-child {
  margin-bottom: 19px;
}

.content {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  margin-top: 17px;
  grid-column-gap: 61px;
  grid-row-gap: 37px;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr)
}

.card {
  text-align: center;
}
.card-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: normal;
  padding-top: 20px;
}
.card-bg {
  position: relative;
  overflow: hidden;
}

.card-sticker {
  position: absolute;
  padding: 7px 16px;
  background-color: #F26522;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  bottom: -100px;
  opacity: 0;
  transition: all ease-out .2s;
}
.card-sticker > p {
  font-size: 1.4rem;
  align-self: flex-end;
}
.card-sticker > p::after {
  margin-left: 16px;
  content: url('../img/right.svg');
}

.card:hover .card-title {
  color: #F26522;
}
.card:hover .card-sticker {
  opacity: 1;
  bottom: 0px;
}

.card-sticker-det {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card-sticker-det > span {
  font-size: 1rem;
}
.card-sticker-det > p {
  font-size: 2rem;
  line-height: 2rem;
}

.copyright {
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 1.4rem;
  text-align: center;
  color: #FFF;
}

.grad-border {
  padding: 3px;
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}
.grad-border > .card-sticker {
  width: 98%;
}
.card:hover .grad-border .card-sticker {
  bottom: 3px;
}