body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 300vh;
}

a {
  text-decoration: none;
}

header {
  height: 600px;
  overflow: hidden;
  position: relative;
  padding-top: 28px;
}

.triangle-cut {
  background: linear-gradient(175deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85.9%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%),
  linear-gradient(185deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85.9%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}

header::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/bg1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.upbanner {
  background-color: #FFF;
  width: 100%;
  padding: 40px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upbanner-title {
  font-family: 'Roboto', sans-serif;
  color: #424F57;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}
.upbanner-title > span {
  font-weight: bold;
  text-transform: uppercase;
  color: #14AFCA;
}
.upbanner-nav {
  display: flex;
  column-gap: 55px;
}
.upbanner-link {
  text-transform: uppercase;
  color: #3E4C4E;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
}
.upbanner-link:hover {
  color: #14AFCA;
}