:root {
  --col-bg: #FFFFFF
}
/* * {
   outline: 1px dotted red;
} */

body {
  font-family: 'FuturaBT', sans-serif;
  font-size: 15px;
  height: 300vh;
  text-align: center;
  overflow-x: hidden;
  perspective: 100px;
  transform-style: preserve-3d;
}

a {
  text-decoration: none;
}

header {
  overflow: hidden;
  position: relative;
  padding-top: 28px;
  padding-bottom: 155px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* .triangle-cut {
  background: linear-gradient(175deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85.9%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%),
  linear-gradient(185deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85.9%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
} */

.transp-triangle {
  position: absolute;
  width: 100%;
  height: 85px;
  border-left: 50vw solid var(--col-bg);
  border-right: 50vw solid var(--col-bg);
  border-top: 85px solid transparent;
}
.transp-antitriangle {
  position: absolute;
  width: 100%;
  height: 85px;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 85px solid var(--col-bg);
}
.posbottom {
  bottom: 0;
}
.postop {
  top: 0;
}

header::before {
  background:  url('../img/bg1.jpg');
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transform: scale(1.2) translateY(-50px) translateZ(-1px);
}

.upbanner {
  background-color: #FFF;
  width: 100%;
  padding: 40px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upbanner-title {
  font-family: 'Roboto', sans-serif;
  color: #424F57;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}
.upbanner-title > span {
  font-weight: bold;
  text-transform: uppercase;
  color: #14AFCA;
}
.upbanner-nav {
  display: flex;
  column-gap: 55px;
}
.upbanner-link {
  text-transform: uppercase;
  color: #3E4C4E;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  font-family: 'Open Sans', sans-serif;

}
.upbanner-link:hover {
  color: #14AFCA;
}

.we-create {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 150px;
  font-size: 52px;
  color: #FFF;
  white-space: pre-line;
  line-height: 75px;
}

.what {
  text-align: center;
  padding-top: 150px;
  position: relative;
  padding-bottom: 175px;
  background-color: #FFF;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  letter-spacing: 1.5px;
  color: #14AFCA;
  text-transform: uppercase;
}

.main-subtitle {
  display: block;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #424F57;
}

.main-text {
  margin-top: 35px;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Roboto';
  color: #424F57;
}

.companies {
  padding-top: 130px;
  padding-bottom: 82px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
}
.companies::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/bg2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transform: scale(1.2) translateY(-50px) translateZ(-1px);
}

.companies > .main-subtitle {
  color: var(--col-bg);
}

.companies-list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 45px;
  row-gap: 80px;
  column-gap: 30px;
}
.companies-list > img {
  max-height: 100px;
}

.meet {
  padding-top: 200px;
  padding-bottom: 128px;
  background-color: #FFF;
}

.meet-list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  padding-top: 35px;
}

.meet-card {
  max-width: 300px;
}

.meet-card-img {
  max-height: 200px;
}

.meet-card-text {
  margin-top: 20px;
  font-size: 15px;
  color: #424F57;
  font-family: 'Roboto';
}

.test {
  position: relative;
  padding-top: 190px;
  padding-bottom: 145px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.test::before {
  background: url('../img/bg3.jpg');
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transform: scale(1.05) translateZ(-1px);
}

.test .main-subtitle {
  color: #FFFFFF;
}

.test-text {
  margin-top: 50px;
  letter-spacing: 0.8px;
  color: #D3CCCC;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans';
  font-style: italic;
}

.test-author {
  margin-top: 35px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  color: var(--col-bg);
  padding-right: 130px;
  text-align: end;
}

.why {
  padding-top: 105px;
  background-color: #FFF;
}
.why-slogan {
  margin-top: 50px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
  color: #424F57;
}

footer {
  padding-top: 100px;
  padding-bottom: 90px;
}

.copyright {
  white-space: pre-line;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #3D3C3C;
}
.copyright > span {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}