.clients {
  background-image: url(../img/clients.jpg);
  background-size: cover;
  background-position: center;
  padding: 95px 0;
  text-align: center;
}

.clients-title.title { 
  margin-bottom: 90px;
  color: var(--col-white);
}

.clients-text { 
  margin-top: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #BBBBBB;
  line-height: 30px;
}

.clients-name {
  text-transform: uppercase;
  color: var(--col-cyan);
  margin-top: 33px;
  font-weight: 700;
  line-height: 27px;
}

.clients-prof { 
  color: #BBBBBB;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
}

.clients-bigpics-container {
  margin: 33px auto 0;
  width: 170px;
  height: 170px;
  border: 10px solid #1FDAB532;
  border-radius: 50%;
  overflow: hidden;
}

.clients-bigpics {
  text-align: left;
  padding-left: 4px;
  transition: transform 0.3s ease-in;
}

.clients-bigpics-li {
  display: inline-block;
  margin-left: -4px;
}

.clients-bigpics-pic {
  display: block;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.clients-container {
  display: grid;
  column-gap: 30px;
  margin-top: 45px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}

.clients-selectors {
  display: grid;
  grid-auto-flow: column;
  column-gap: 27px;
}

.clients-smallpic { 
  width: 72px;
  height: 72px;
  border: 5px solid #1FDAB532;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.clients-smallpic.active {
  transition: transform 0.3s ease-in;
  transform: translateY(-12px);
}

.clients-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #BBBBBB;
  color: #BBBBBB;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.clients-button:hover {
  border: 1px solid transparent;
  background-color: var(--col-cyan);
}

.clients-button:hover path {
  fill: var(--col-white);
}
